<div flex layout="column">
    <md-content>
        <md-card ng-controller="ExitController">
            <md-card-content>
                <p>Sign clear local user data</p>
                <md-button class="md-raised md-primary" ng-click="clearData()">{{ clearDataSuccessMessage || "Clear Data" }}</md-button>
            </md-card-content>
        </md-card>
        <md-card ng-controller="ExitController">
            <md-card-content>
                <p>Sign clear local user data</p>
                <md-button class="md-raised md-primary" ng-click="authRedirect()">Log in Again?</md-button>
            </md-card-content>
        </md-card>
    </md-content>
</div>